@CHARSET "UTF-8";

html, body {
	height:95%;
	min-width:300px !important;
}

.icon-48-NEC_dashboard { background-image: url(../images/icons/48/negocio.png); }
.icon-48-NEC_countries { background-image: url(../images/icons/48/countries.png); }

table.adminlist thead th.left {text-align: left;border-bottom: none;}
table.adminlist thead th.center {text-align: center;border-bottom: none;}
table.adminlist thead td {background: #fff;color: #666;border-left: 1px solid #fff;vertical-align: bottom;}
table.adminlist thead td.left #filter_id {width: 100%;}
table.adminlist thead td.left .radio {display: block;margin-bottom: 5px;}
table.adminlist thead td.filterbuttons {background-color: #f0f0f0;border-bottom: 1px solid #999;}
table.adminlist thead td.filterbuttons input {background-color: #fff;}
table.adminlist td.yellow,
table.adminlist tbody tr td.yellow,
table.adminlist tbody tr.row1 td.yellow {background-color: #FFFFDD;}

/** toolbar icons **/
.icon-32-send 			{ background-image: url(../images/icons/32/icon-32-send.png); }
.icon-32-delete 		{ background-image: url(../images/icons/32/icon-32-delete.png); }
.icon-32-help 			{ background-image: url(../images/icons/32/icon-32-help.png); }
.icon-32-cancel 		{ background-image: url(../images/icons/32/icon-32-cancel.png); }
.icon-32-config 		{ background-image: url(../images/icons/32/icon-32-config.png); }
.icon-32-apply 			{ background-image: url(../images/icons/32/icon-32-apply.png); }
.icon-32-back			{ background-image: url(../images/icons/32/icon-32-back.png); }
.icon-32-forward		{ background-image: url(../images/icons/32/icon-32-forward.png); }
.icon-32-save 			{ background-image: url(../images/icons/32/icon-32-save.png); }
.icon-32-edit 			{ background-image: url(../images/icons/32/icon-32-edit.png); }
.icon-32-copy 			{ background-image: url(../images/icons/32/icon-32-copy.png); }
.icon-32-move 			{ background-image: url(../images/icons/32/icon-32-move.png); }
.icon-32-new 			{ background-image: url(../images/icons/32/icon-32-new.png); }
.icon-32-upload 		{ background-image: url(../images/icons/32/icon-32-upload.png); }
.icon-32-assign 		{ background-image: url(../images/icons/32/icon-32-publish.png); }
.icon-32-html 			{ background-image: url(../images/icons/32/icon-32-html.png); }
.icon-32-css 			{ background-image: url(../images/icons/32/icon-32-css.png); }
.icon-32-menus 			{ background-image: url(../images/icons/32/icon-32-menu.png); }
.icon-32-publish 		{ background-image: url(../images/icons/32/icon-32-publish.png); }
.icon-32-unpublish 		{ background-image: url(../images/icons/32/icon-32-unpublish.png);}
.icon-32-restore		{ background-image: url(../images/icons/32/icon-32-revert.png); }
.icon-32-trash 			{ background-image: url(../images/icons/32/icon-32-trash.png); }
.icon-32-archive 		{ background-image: url(../images/icons/32/icon-32-archive.png); }
.icon-32-unarchive 		{ background-image: url(../images/icons/32/icon-32-unarchive.png); }
.icon-32-preview 		{ background-image: url(../images/icons/32/icon-32-preview.png); }
.icon-32-default 		{ background-image: url(../images/icons/32/icon-32-default.png); }
.icon-32-about 			{ background-image: url(../images/icons/32/icon-32-about.png); }
.icon-32-savenew 		{ background-image: url(../images/icons/32/icon-32-savenew.png); }
.icon-32-rebuild		{ background-image: url(../images/icons/32/icon-32-refresh.png); }

/* CSS3 BUTTON */
.necbtn {
	display: inline-block; 
	padding: 5px; 
	color: #3C3C3D; 
	white-space: nowrap; 
	overflow: visible; 
	cursor: pointer; 
	text-decoration: none; 
	
	border: 1px solid #CACACA; 
	-webkit-border-radius: 5px; 
	-moz-border-radius: 5px; 
	border-radius: 5px; 

	background:-webkit-gradient(linear,0% 0%,0% 100%,from(rgba(255,255,255,1)),to(rgba(185,185,185,1)));
	background:-moz-linear-gradient(top,rgba(255,255,255,1),rgba(185,185,185,1));
	
	outline: none; 
	position: relative; 
	zoom: 1; 
	line-height: 1.11; 
	*display: inline; 
	*vertical-align: middle;	
}

a.necbtn { -moz-user-select: none; -webkit-tap-highlight-color: rgba(0,0,0,0); -webkit-user-select: none; -webkit-touch-callout: none;}

.necbtn:hover {
	color: #000000; 
	text-decoration: none; 
	background-color: #2D7DC5;
}

a.necbtn span.necicon { display: inline-block; width: 14px; height: 12px; margin: auto 7px auto auto; position: relative; top: 0; *top: 0px; background-repeat: no-repeat; }

span.necicon.applyfilters {
	background: url(../images/icons/bullet_add.png) no-repeat 0% 50%;
}
span.necicon.clearbutton {
	background: url(../images/icons/bullet_delete.png) no-repeat 0% 50%;
}