@CHARSET "UTF-8";

.plupload_filelist_header {
    -moz-border-radius-topleft: 4px;
    -moz-border-radius-topright: 4px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-top: none;
    background-image: -webkit-gradient(linear, 0% 00%, 0% 100%, from(white), to(whiteSmoke));
    background-image: -moz-linear-gradient(0% 35% 270deg,#F9F9F9, #E3E3E3);
    border-bottom: 1px solid hsl(0, 0%, 90%);
    display: block;
    overflow: hidden;    
}

.plupload_filelist_footer {
	-moz-border-radius-bottomleft: 4px;
	-moz-border-radius-bottomright: 4px;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	border-bottom: none;
	border-top: none;
    display: block;
    overflow: hidden;	
}

.plupload_filelist {
    list-style: none;
    margin: 0;
    padding: 0;
    display: block;
    overflow: hidden;
}

.plupload_filelist li {
    background: none;
    line-height: normal;
    margin: 0;
    padding: 10px 8px;
}

div.plupload_filelist li div, .plupload_filelist_header div {display:block;overflow:hidden;}
div.plupload_file_name {margin-right:5px; float:left;}
div.plupload_file_status {float:right;margin-right:5px;min-width:35px;text-align:right;}
div.plupload_file_size {float:right; margin-right:5px;}