@CHARSET "UTF-8";

html, body {
	height:95%;
	min-width:300px !important;
}

.applyfilters {
	background: url(../images/icons/bullet_add.png) no-repeat 0% 50%;
	padding-left: 12px;
}
.clearbutton {
	background: url(../images/icons/bullet_delete.png) no-repeat 0% 50%;
	padding-left: 12px;
}